* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: cursive;
    font-size: 16px;
    background: #f9f9f9;
    color: #333;
    padding: 40px;
    line-height: 1.6;
    background-image: 
    linear-gradient(#ddd 1px, transparent 1px),
    linear-gradient(90deg, #ddd 1px, transparent 1px);
    background-size: 20px 20px;
}
h1 {
    color : rgb(255, 0, 43);
    text-align : center;     
}
ul {
    display : flex;
    flex-direction: column;
    align-items : center;
    margin : 50px 50px 0 0;
}
li {
    padding: 5px 20px;
    border-bottom: 1.5px solid black;
    width: 80%;
    max-width: 550px;
    font-size: large;
}

.check-box {
    display: flex;
    align-items: center;
    gap: 10px; 
}
.check-box label {
    max-width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex: 1;
}
.check-box input[type="checkbox"] {
    width: 20px;
    cursor: pointer;
    margin-left: auto;
}
.check-box input {
    order : 2;
}
form {
    font-family: cursive;
    background-color: #ccc;
    border: 1px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    display: none;
    flex-direction: column;
    align-items: center;
    width: 30%;
    height: 43%;
}
form input {
    margin : 10px 20px 10px;
}
.button-group {
    display : flex ; 
    gap : 10px ; 
    justify-content: flex-end;
    margin: 10px;
}
.delete {
    color: red;
    border: none;
    font-size: 20px;
    position: relative;
    left: 30%;
    text-decoration: none!important;
}
.open-form {
    color: black;
    position: absolute;
    top: 10%;
    right: 10%;
    font-size: 30px;
    font-family: cursive;
    border: none;
    background: transparent;
    display : flex ;
    
}
i {
    padding : 10px
}
#task-name, #edit-value-name {
    border : none ;
    border-bottom: 2px solid black;
    outline: none;
    width: 60%;
    padding: 2px 0;
    background: transparent;
    height: auto;
    
}
form label {
    margin : 25px 0 5px
}
button.cancel, .cancel-edit {
    position: absolute;
    top: 4%;
    right: 3%;
    border: none;
    background: transparent;
    font-size: 20px;
}
.add-task,.submit-edit {
    padding: 0 120px;
    font-family: cursive;
    font-size: 13px;
    margin-top: 40px;
    border: 2px solid black;
    border-radius: 7px;
}
.add-task:hover {
    background-color: rgb(77, 77, 77);
    color: whitesmoke;
}
.submit-edit:hover {
    background-color: rgb(77, 77, 77);
    color: whitesmoke;
}
.name-task {
    position: relative;
    left: -83px;
    top: 19px;
    font-size: 16px;
}
input[type="time"] {
    border: none;
    border-bottom: 2px solid black;
    background: transparent;
    padding: 5px 10px;
    font-size: 16px;
    outline: none;
}
#search-task {
    padding: 10px 15px;
    width: 235px;
    font-size: 16px;
    font-family: cursive;
    border: 2px solid black;
    border-radius: 11px;
    outline: none;
    background-color: #fefefe;
    height: 35px;
    margin: 15px 0 0 41%;
}
button {
    cursor: pointer;
}
.open-form {
    cursor: pointer;
}
select#task-sort {
    width: 10%;
    height: 30px;
    border-radius: 5px;
    font-size: 16px;
    font-family: cursive;
}
button.edit {
    position: absolute;
    left: 60%;
    border: none;
    background: transparent;
    font-size: 20px;
}
.sort {
    position: absolute;
    width: 100%;
    left: 16%;
}

  